@import '../../assets/scss/variables';

.page-header {
  width: 100%;
  padding: 1.4em 0vw;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1em solid $light-beige;
}

.main-nav {
  width: 100%;
  margin: 0 auto;
  padding-left: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.site-list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
}

.site-list__item {
  width: 25%;
  box-sizing: border-box;
  text-align: center;

  &:last-child {
    text-align: left;
  }

  &:nth-child(3) {
    padding-left: 8%;
  }

  &:nth-child(2) {
    padding-right: 9%;
  }

  &:first-child {
    text-align: right;
  }
}

.site-list__link {
  font-size: 1.1em;
}

.page-header__logo {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 0.3em;
}

.site-list__profile {
  position: absolute;
  top: -0.2em;
  right: 2vw;
}

.site-list__profile-btn {
  font-size: 1.1em;
  color: $default-font-color;
}

.profile-menu {
  display: none;
}
