@import '../../assets/scss/variables';

.main-nav__toggle {
  display: none;
}

.site-list__item--profile,
.site-list__item--logout {
  display: none;
}

.page-header {
  width: 100%;
  padding: 1.4em 0vw;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1em solid $light-beige;
}

.main-nav {
  width: 100%;
  margin: 0 auto;
  padding: 0 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.site-list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
}

.site-list__item {
  width: 25%;
  box-sizing: border-box;
  text-align: center;

  &:nth-child(3) {
    padding-left: 8%;
  }

  &:nth-child(2) {
    padding-right: 9%;
  }

  &:first-child {
    text-align: right;
  }
}

#menuOptionNewStyle {
  text-align: left;
}

.active::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0.135em;
  border-radius: 0.5em;
  position: absolute;
  bottom: -0.1em;
  left: 0;
  background-color: $pink;
}

.site-list__link {
  color: $default-font-color;
  text-decoration: none;
  position: relative;
  font-size: 1.1em;

  &:hover {
    color: $darker-font-color;
  }
}

.page-header__logo {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 0.3em;
}

.site-list__profile {
  position: absolute;
  top: 0.6em;
  right: 2.3em;
}

.site-list__profile-btn {
  font-size: 1.5em;
  color: $default-font-color;
  background-color: #ffffff;
}

.profile-menu {
  z-index: 5;
  min-width: 10vw;
  position: absolute;
  top: 4.5em;
  padding: 1em 2em;
  right: 0.3em;
  display: none;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.1em;
  box-sizing: border-box;
  animation: toggleProfileMenu;
  animation-duration: 500ms;
}

@keyframes toggleProfileMenu {
  from {
    top: 3em;
    transform: scale(0.7);
  }
  to {
    top: 4.5em;
    transform: scale(1);
  }
}

.profile-menu__item {
  padding: 0.6em 0;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: $dark-grey;
  }
}

.profile-menu__link {
  font-size: 1.1em;
  color: $default-font-color;
  text-decoration: none;
  &:hover{
    color: $darker-font-color;
  }
}

.auth-icon{
  position: absolute;
  top: 0.5em;
  right: 2em;

  &:hover fa-icon {
    color: $darker-font-color;
  }

  & fa-icon{
    font-size: 1.7em;
    color: $default-font-color;
  }
}

@media (max-width: 1200px) {
  .page-header {
    display: flex;
    padding: 1.4em 2vw;
    align-items: center;
    justify-content: space-between;
  }

  .page-header__logo {
    position: static;
    margin: 0 !important;
  }

  .main-nav {
    display: none;
  }

  .main-nav__toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 3.5em;
    height: 2.5em;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover .main-nav__btn-element {
      background-color: $pink;
    }
  }

  .main-nav__btn-element {
    display: inline-block;
    width: 3.5em;
    height: 0.5em;
    background-color: $gold;
    border-radius: 0.7em;
  }

  .auth-icon,
  .profile-menu__logout {
    display: none;
  }

  .main-nav {
    padding: 1em 0.3em;
    width: 30%;
    position: absolute;
    right: 3%;
    top: 7em;
    box-shadow: $item-shadow;
    border-radius: 0.3em;
    background-color: #ffffff;
    z-index: 20;
  }

  .site-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .site-list__item {
    width: 100%;
    text-align: center !important;
    padding: 1em !important;

    &:not(:last-child) {
      border-bottom: 0.06em solid $light-beige;
    }
  }

  .site-list__item--profile,
  .site-list__item--logout {
    display: inline-block;
  }

  .site-list__profile-btn {
    display: none;
  }
}


@media (max-width: 576px) {
  .main-nav {
    width: 94%;
  }
}
