<div #selectWrapper class="select-wrapper">
  <ul class="select-list" #selectList>
    <li (click)="getSelectedValue($event)" *ngFor="let option of options" [attr.data-name]="inputName" class="select-option">{{option}}</li>
  </ul>
  <label (click)="toggleOptions($event)" #selectLabel [for]="inputId" class="form-select-label form-label">{{inputName | titlecase}}
    <span class="arrow-down" #arrowDown>
      <fa-icon [icon]="faSortDown"></fa-icon>
    </span>
  </label>
  <select [id]="inputId" class="form-input form-select visually-hidden" type="text" formControlName="newCardForm">
    <option *ngFor="let option of options" class="select__option">{{option}}</option>
  </select>
</div>
