<h2 class="section-title">Sign In</h2>
<form enctype="multipart/form-data" class="login__form" [formGroup]="loginForm">
  <div *ngIf="isSubmitted && !loginForm.valid" class="login__errors form-errors">
    <p class="form-errors__message" *ngIf="email.errors?.required && email.untouched&& isSubmitted">Email is required</p>
    <p class="form-errors__message" *ngIf="email.errors?.email && isSubmitted">Email is invalid</p>
    <p class="form-errors__message" *ngIf="password.errors?.required && password.untouched && isSubmitted">Password is required</p>
  </div>
  <p class="form-success__message" *ngIf="isSubmitted && isSuccess">User successfully logged in!</p>
  <p class="form-errors__message" *ngIf="isSubmitted && isServerError">Connection error! Please try again later</p>
  <div *ngIf="hasResponse" class="register__errors form-errors">
    <p class="form-errors__message" *ngIf="isUserDataIncorrect">Wrong login or password</p>
  </div>
  <label for="login-email" class="visually-hidden"></label>
  <input id="login-email" class="{{email.errors && isSubmitted ? 'error-border new-form__error-border' : ''}} form-input login__input" type="text" formControlName="email" placeholder="Email">
  <label for="login-password" class="visually-hidden"></label>
  <input id="login-password" class="{{password.errors && isSubmitted ? 'error-border new-form__error-border' : ''}} form-input login__input" type="password" formControlName="password" placeholder="Password">
  <a href="#" class="login__reminder">Forgot your password?</a>
  <button (click)="checkUser($event)" class="btn login__btn form-button" type="submit">Login</button>
  <button (click)="showGuestMessage($event)" class="btn login-guest__btn form-button" type="submit">Login as a Guest</button>
</form>
<app-spinner *ngIf="isLoading"></app-spinner>
<app-popup (canClose)="guestLogin($event)" *ngIf="isPopup" messageText="The 'Login as a Guest' option is intended to allow
  user to check some functionalities of this application without the need to register a new user account. As a guest
  user you are granted a read-only access.
  That means you will not be able to perform such actions as adding, editing or deleting clothes and stylizations.">
</app-popup>
