<div class="carousel-wrapper">
  <div class="carousel" #carousel>
    <div class="content">
      <div #image class="image-wrapper" *ngFor="let cloth of clothesList">
        <img class="clothes__img" [attr.src]="(env.serverLocalHost + '/img/' + cloth.imageName) | imgSecure | async" default="../../assets/img/empty.png"  alt="clothes">
      </div>
    </div>
    <div class="navigation">
      <div class="previous" #previous (click)="previousBtn()"> <fa-icon [icon]="faChevronLeft"></fa-icon></div>
      <div class="next" #next (click)="nextBtn()"> <fa-icon [icon]="faChevronRight"></fa-icon></div>
    </div>
  </div>
</div>
