$gold: #C0B283;
$pink: #E0D1C0;
$light-beige: #EFEDE8;
$dark-grey: #373737;
$light-grey: #F7F7F7;
$beige: #E0D1C0;
$default-font-color: #6E6E6E;
$darker-font-color: #4F4C4C;
$border-input-color: #E0D1C0;
$input-color: #efecde;
$red: #e85e52;
$btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
