<section class="new-clothes">
  <h2 class="section-title">Add new item</h2>
  <form class="new-clothes__form">
      <label for="new-clothes-tag" class="add-card__label visually-hidden"></label>
      <input id="new-clothes-tag" class="add-card__input" type="text" formControlName="newCardForm" placeholder="Tag #MyFavouriteDress">

      <div class="new-clothes__category">
        <ul class="select-list" #selectList>
          <li class="select-option">Blouse</li>
          <li class="select-option">Tshirt</li>
          <li class="select-option">Top</li>
          <li class="select-option">Trousers</li>
          <li class="select-option">Dress</li>
          <li class="select-option">Jeans</li>
        </ul>
        <label for="new-clothes-category" class="add-card__label" (click)="toggleOptions()">Category*<span class="arrow-down" #arrowDown><fa-icon [icon]="faSortDown"></fa-icon></span></label>
        <select id="new-clothes-category" class="add-card__input" type="text" formControlName="newCardForm">
        </select>
      </div>

    <div class="new-clothes__color">
      <ul class="select-list" #selectList>
        <li class="select-option">Blouse</li>
        <li class="select-option">Tshirt</li>
        <li class="select-option">Top</li>
        <li class="select-option">Trousers</li>
        <li class="select-option">Dress</li>
        <li class="select-option">Jeans</li>
      </ul>
      <label for="new-clothes-color" class="add-card__label" (click)="toggleOptions()">Color*<span class="arrow-down" #arrowDown><fa-icon [icon]="faSortDown"></fa-icon></span></label>
      <select id="new-clothes-color" class="add-card__input" type="text" formControlName="newCardForm"></select>
    </div>
      <label for="new-clothes-brand" class="add-card__label visually-hidden"></label>
      <input id="new-clothes-brand" class="add-card__input" type="text" formControlName="newCardForm" placeholder="Brand">
      <label for="new-clothes-product-code" class="add-card__label visually-hidden"></label>
      <input id="new-clothes-product-code" class="add-card__input" type="text" formControlName="newCardForm" placeholder="Product Code">
      <label for="new-clothes-link" class="add-card__label visually-hidden"></label>
      <input id="new-clothes-link" class="add-card__input" type="text" formControlName="newCardForm" placeholder="Link">
      <label for="new-clothes-size" class="add-card__label visually-hidden"></label>
      <input id="new-clothes-size" class="add-card__input" type="text" formControlName="newCardForm" placeholder="Size">
      <label for="new-clothes-style" class="add-card__label visually-hidden"></label>
      <input id="new-clothes-style" class="add-card__input" type="text" formControlName="newCardForm" placeholder="Style">
    <div class="new-clothes__btn-wrapper">
      <input formControlName="upload-photo__button" class="upload-photo add-new-item__form" type="file" accept="image/*" hidden>
      <button class="btn upload-photo__btn" type="submit"><fa-icon [icon]="faCloudUploadAlt"></fa-icon> Upload photo*</button>
    </div>
    <div class="button-container">
      <input formControlName="add-new-item__button" class="add-new-item add-new-item__form" type="file" accept="image/*" hidden>
      <button class="btn add-new-item__btn" type="submit">ADD NEW ITEM</button>
    </div>
  </form>
</section>
