@import "../../assets/scss/variables";

.new-clothes {
  width: 59%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 4.5em 8.5vw 3.8em 8.5vw;
  background-color: white;
  border-radius: 0.2em;
}

.new-clothes__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.add-card__label{
  display: inline-block;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.new-clothes__select--category {
  width: 61%;
  position: relative;
}

.new-clothes__select--color,
.new-clothes__photo-btn-wrapper {
  width: 37%;
  position: relative;
}

#new-clothes-brand {
  width: 47%;
}

#new-clothes-product-code {
  width: 51%;
}

.new-clothes__select--style,
.new-clothes__select--size {
  width: 49%;
  position: relative;
}

.new-clothes__photo-btn-wrapper {
  margin-right: auto;
}


.new-clothes__submit-wrapper {
  width: 100%;
  text-align: center;
  margin: 2.5em auto 0 auto;
}

.new-clothes__errors {
  margin-bottom: 1em;
  width: 100%;
  box-sizing: border-box;
}

.new-form__error-border {
}

.new-clothes__select {
  box-shadow: inset 0 0 1px $red;
  border-radius: 0.37em;
}

.new-clothes__radio-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5em;

  & p {
    margin-right: 1.5em;
  }
}

@media (max-width: 992px) {
  .new-clothes {
      width: 80%;
    }

  .new-clothes__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0 4vw;
  }

  .add-card__input,
  .new-clothes__select {
    width: 100% !important;
    margin: 0 auto !important;
    margin-bottom: 1.5em !important;
  }
}

@media (max-width: 576px) {
  .new-clothes__form {
  }
}

