<section class="new-clothes">
  <h2 class="section-title">Add new item</h2>
  <button (click)="closeForm($event)" class="btn close-btn">
    <span class="visually-hidden">Close</span>
  </button>
  <form enctype="multipart/form-data" class="new-clothes__form" [formGroup]="newCardForm" >
    <div *ngIf="isSubmitted && !newCardForm.valid && newCardForm.untouched" class="new-clothes__errors form-errors" >
      <p class="form-errors__message" *ngIf="clothType.errors?.required && isSubmitted && clothType.untouched">Cloth type is required</p>
      <p class="form-errors__message" *ngIf="color.errors?.required && isSubmitted && color.untouched">Color is required</p>
      <p class="form-errors__message" *ngIf="style.errors?.required && isSubmitted && style.untouched">Style is required</p>
      <p class="form-errors__message" *ngIf="size.errors?.required && isSubmitted && size.untouched">Size is required</p>
      <p class="form-errors__message" *ngIf="imageName.errors?.required && isSubmitted && imageName.untouched">Image is required</p>
      <p class="form-errors__message" *ngIf="isSubmitted && !isImageRight">Image should be under 5MB</p>
    </div>
    <p class="form-success__message" *ngIf="isSubmitted && isSuccess">Item added successfully!</p>
    <p class="form-errors__message" *ngIf="isSubmitted && isServerError">Connection error! Please try again later</p>
    <label for="new-clothes-tag" class="visually-hidden"></label>
    <input id="new-clothes-tag" class="form-input add-card__input" type="text" formControlName="tag" placeholder="Tag #MyFavouriteDress">
    <app-select-input (selectedValue)="getSelectValue($event)"
                      class="new-clothes__select new-clothes__select--category"
                      labelClass="{{clothType.errors && isSubmitted && clothType.untouched ? 'error-border new-form__error-border' : ''}}"
                      inputId="new-clothes-category"
                      inputName="clothType"
                      [options]="clothTypeOptions" ></app-select-input>
    <app-select-input (selectedValue)="getSelectValue($event)"
                      class="new-clothes__select new-clothes__select--color"
                      labelClass="{{clothType.errors && isSubmitted ? 'error-border new-form__error-border' : ''}}"
                      inputId="new-clothes-color"
                      inputName="color"
                      [options]="colorOptions"></app-select-input>
    <label for="new-clothes-brand" class="visually-hidden"></label>
    <input id="new-clothes-brand" class="form-input add-card__input" type="text" formControlName="brand" placeholder="Brand">
    <label for="new-clothes-product-code" class="visually-hidden"></label>
    <input id="new-clothes-product-code" class="form-input add-card__input" type="text" formControlName="code" placeholder="Product Code">
    <app-select-input (selectedValue)="getSelectValue($event)"
                      class="new-clothes__select new-clothes__select--size"
                      labelClass="{{clothType.errors && isSubmitted ? 'error-border new-form__error-border' : ''}}"
                      inputId="new-clothes-size" inputName="size"
                      [options]="sizeOptions">
    </app-select-input>
    <app-select-input (selectedValue)="getSelectValue($event)"
                      class="new-clothes__select new-clothes__select--style"
                      labelClass="{{clothType.errors && isSubmitted ? 'error-border new-form__error-border' : ''}}"
                      inputId="new-clothes-style"
                      inputName="style"
                      [options]="styleOptions">
    </app-select-input>
    <label for="new-clothes-link" class="visually-hidden"></label>
    <input id="new-clothes-link" class="form-input add-card__input" type="text" formControlName="shopLink" placeholder="Link">
    <div class="new-clothes__radio-wrapper">
      <p>Does this item has a pattern?</p>
      <div class="new-clothes__radio-input">
        <input id="new-clothes-patternTrue" class="visually-hidden checkbox-input" type="checkbox"
               formControlName="hasPattern" value="true" name="hasPattern">
        <label for="new-clothes-patternTrue" class="checkbox-input__label">Yes</label>
      </div>
    </div>
    <div class="new-clothes__photo-btn-wrapper">
    <button class="btn upload-photo__btn" type="button" (click)="filePicker.click()"><fa-icon [icon]="faCloudUploadAlt"></fa-icon> Upload photo*
      <input #filePicker
             (change)="saveImage($event)"
             class="new-clothes__photo-input {{ isSubmitted && !isImageRight ? 'error-border new-form__error-border' : ''}}"
             type="file"
             accept="image/*" hidden>
    </button>
    </div>
    <div class="new-clothes__submit-wrapper">
      <button (click)="saveItem($event)" class="btn form-button" type="submit">ADD NEW ITEM</button>
    </div>
  </form>
</section>
<router-outlet></router-outlet>
