.auth-wrapper{
  display: flex;
  padding: 3em 1vw;
}

.auth-item{
  box-sizing: border-box;
  width: 50%;
  padding: 0.5em 5vw;

  &:first-child {
    padding-right: 2.5vw;
  }

  &:last-child {
    padding-left: 2.5vw;
  }
}
@media (min-width: 1200px) {
  .auth-wrapper{
    margin-left: 10em;
    margin-right: 10em;
  }
}

@media (max-width: 768px) {
  .auth-wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 3em 1vw;
    align-items: center;
  }
  .auth-item{
    align-self: center;
    justify-self: center;
    padding: 0 !important;
    width: 80%;
  }
}

