@import "../../assets/scss/variables";

.carousel-wrapper .section-title {
  margin-bottom: 0;
}
.carousel {
  padding: 0 25vw;
  overflow: hidden;
  position: relative;

  .content {
    display: flex;
    padding: 2em 0;
    align-items: center;
    width: 100%;
    transition: 500ms ease-in-out;
  }
}

.stylisation {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30em;
  overflow: hidden;
  border-radius: 1.12em;
  box-shadow: $btn-shadow;
  background-color: $light-grey;
}

.clothes__img {
  width: 100%;
  height: auto;
  border-radius: 1.15em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.featured {
  width: 100%;
  padding: 2em 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.featured__img-wrapper {
  display: flex;
  width: 24%;
  height: 30em;
  border-radius: 1.7em;
  box-shadow: $btn-shadow;
  background-color: $light-grey;

  &:not(:last-child) {
    margin-right: 2em;
  }
}

.stylisations__part {
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 768px) {
  .carousel{
    padding: 0 7vw;
  }
}

@media (max-width: 510px) {
  .carousel{
    padding: 0 2vw;
  }
}
