.create-style {
  width: 100%;
  padding: 4em 5vw 0 5vw;
  display: grid;
  grid-template-columns: 60% 40%;
  box-sizing: border-box;
}

.create-style__choice {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-style__choice-btn {
  width: 25%;
  height: auto;
  padding: 1em 0;
  text-align: center;

  &:first-child {
    margin-right: 4%;
  }
}

.create-style__body {
  display: none;
  justify-content: center;
}

.body-slider {
  width: 100%;
}

.create-style__choice-btn--active {
  opacity: 0.8;
  box-shadow: inset -1px -1px 2px rgba(66, 65, 65, 0.25);

  &:hover::before,
  &:hover::after {
    display: none;
  }
}

.create-style__sliders {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.create-style__top {
  width: 100%;
}

.create-style__form-wrapper {
  width: 100%;
}

.new-clothes__form,
.new-style-form__input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-style-form__header {
  margin: 0;
  margin-bottom: 1em;
  font-weight: 400;
  text-align: center;
  font-size: 1.6em;
}

.new-style-form__input-wrapper {
  padding: 3.5em 3em;
  background-color: rgba(224, 209, 192, 0.3);
  border-radius: 1.2em;
}

.new-style-form__input {
  margin-bottom: 2em;
  width: 100%;
}

.new-clothes-form__btn {
  width: 70%;
  height: auto !important;
  padding: 1em;
  font-size: 1.15em;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .create-style {
    margin: 0 auto;
    padding: 4em 5vw 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .create-style__form-wrapper {
    order: -2;
    margin: 0 0 5em 0;
    width: 50%;
  }
}

@media (max-width: 992px) {
  .create-style {
    margin: 0 auto;
    padding: 2em 3vw 0 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .create-style__form-wrapper {
    order: -2;
    margin: 0 0 2em 0;
    width: 60%;
  }
  .carousel-wrapper__btn{
    width: 0.8em;
    height: 0.8em;

  }
  .carousel-wrapper__navigation{
    display: flex !important;
    justify-content: space-between !important;
    width: 80% !important;
  }
}

@media (max-width: 710px) {
  .create-style__form-wrapper {
    order: -2;
    margin: 0 0 5em 0;
    width: 80%;
  }
}

@media (max-width: 510px) {
  .create-style__form-wrapper {
    order: -2;
    margin: 0 0 5em 0;
    width: 100%;
  }
}
