@import "../../assets/scss/variables";

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__details {
  width: 100%;
  padding-left: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-details__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.profile-details__select {
  display: none;
  width: 90%;
  padding: 0;
}

.profile-details__label {
  width: 90%;
  text-align: center;
  letter-spacing: 0.08em;
}

.profile__details-content {
  width: 90%;
  text-align: center;
  letter-spacing: 0.08em;
  border: 1px solid #E0D1C0;
}

#profilePasswordConfirmation {
  margin-right: 2.8em;
}

.profile-details__change-btn {
  margin-bottom: 0.35em;
}

.profile-details__save-btn-wrapper {
  margin-top: 2em;
  margin-right: 4em;
}

.form-success__message {
  margin-right: 2.8em;
}

@media (max-width: 768px) {
  .profile__details {
    padding-left: 0;
  }
  .profile__wrapper {
    width: 80%;
  }
  .profile-details__save-btn-wrapper {
    margin-top: 2em;
    margin-right: 0;
  }
  .form-button {
    width: 17em;
    height: 4em;
  }
}
