@import "assets/scss/variables";

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url("./assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url("./assets/fonts/Lato/Lato-Regular.ttf");
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  color: $default-font-color;
}

.btn {
  border-radius: 3px;
  padding: 10px;
  font-size: 1em;
  font-family: Roboto, sans-serif;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

.btn-pen{
  box-shadow: $btn-shadow;
  width: 3em;
  height: 3em;
  display: inline-block;
  background-color: $pink;
  border-radius: 0.7em;
  margin-left: auto;
  color: #ffffff;
  letter-spacing: 0.2em;
  font-weight: bold;

  & fa-icon{
    color: #ffffff;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
  }
}

.form-button{
  justify-content: center;
  background-color: $beige;
  color: $light-grey;
  border-radius: 0.6em;

  width: 20em;
  height: 4em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.1em;
  margin-top: 4em;
}

.logo {
  font-family: Lato;
  font-size: 2em;
  color: $gold;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.show-flex {
  display: flex !important;
}

.hide {
  display: none !important;
}

.section-title {
  margin: 0;
  margin-bottom: 2em;
  padding: 0;
  width: 100%;
  text-align: center;
  font-weight: 400;
  color: $darker-font-color;
  font-size: 1.65em;
}

.arrow-down{
  position: absolute;
  font-size: 1.5em;
  top: 0.7em;
  right: 0.8em;
}

.rotate {
  transform: rotate(180deg);
}

.upload-photo__btn {
  background-color: $pink;
  color: $light-grey;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.6em;
  width: 12em;
  height: 3em;
  padding: 0.8em 1em 1em;
  margin-top: 0.8em;
}

.form-input,
.form-label {
  width: 100%;
  padding: 1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  border-radius: 0.37em;
  border: 1px solid $border-input-color;
  background: $input-color;
  font-size: 1em;
  color: $default-font-color;
  box-sizing: border-box;
}

.form-input::placeholder {
  text-align: center;
}

.form-label {
  position: relative;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 1.6em;
  right: 2.1em;
  width: 2.7em;
  height: 2.7em;
  cursor: pointer;
  outline: none;

  &:hover::before {
    transform: rotate(315deg);
  }

  &:hover::after {
    transform: rotate(405deg);
  }

  &:focus {
    box-shadow: 0 0 5px #347fb4;
  }

  &::after,
  &::before {
    transition: all 900ms ease-in-out;
    content: "";
    display: inline-block;
    position: absolute;
    top: 1em;
    right: 0;
    width: 2.38em;
    height: 0.29em;
    border-radius: 0.15em;
    background-color: $default-font-color;
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}

.form-errors__message {
  font-size: 1em;
  margin: 0;
  padding: 0 0.2em;
  color: $red;
}

.error-border {
  border: 0.05em solid $red;
  box-shadow: 0 0 0.1em $red;
}

