<section [ngClass]="!stylisationsList?.length ? 'no-item' : 'stylisations'"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScroll()"
         [scrollWindow]="true">
  <h2 class="section-title">Your stylisations</h2>
  <div *ngIf="!stylisations" class="stylisations__wrapper">
    <div class="stysations__item stylisation {{stylisation.clothesForDisplayStylization.length === 1 ? 'stylisation__dress' : ''}}" *ngFor="let stylisation of stylisationsList">
      <div (click)="deleteStylisation(stylisation.id)" class="stylisation__delete-btn close-btn"><span class="visually-hidden">Delete</span></div>
      <app-stylisation-item class="stylisations__part" [stylisation]="stylisation.clothesForDisplayStylization"></app-stylisation-item>
    </div>
  </div>
  <div *ngIf="stylisations" class="stylisations__wrapper">
    <div class="stysations__item stylisation" *ngFor="let stylisation of stylisations">
      <div (click)="deleteStylisation(stylisation.id)" class="item__delete-btn close-btn"><span class="visually-hidden">Delete</span></div>
      <app-stylisation-item class="stylisations__part" [stylisation]="stylisation.clothesForDisplayStylization"></app-stylisation-item>
    </div>
    </div>

  <div class="no-item__popup" *ngIf="!stylisationsList?.length">
    <h3 class="item-title">Your stylisations</h3>
    <p class="no-item__message">nothing to show</p>
    <a routerLink="/create-form" class="btn form-button no-item__btn">ADD NEW STYLISATION</a>
  </div>

</section>
