<section class="stylisations"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScroll()"
         [scrollWindow]="true">
  <h2 class="section-title">Your stylisations</h2>
  <div class="stylisations__wrapper">
    <div class="stysations__item stylisation"
         *ngFor="let stylisation of stylisationsList">
      <img *ngIf="stylisation.bodyPart === 'BODY'"
           src="{{images.get(stylisation.id)}}"
           default="../../assets/img/empty.png"
           alt="clothes image"
           class="stylisation__whole">
      <img *ngIf="stylisation.bodyPart === 'CHEST'"
           src="{{images.get(stylisation.id)}}"
           alt="top"
           default="../../assets/img/empty.png"
           class="stylisation__top">
      <img *ngIf="stylisation.bodyPart === 'LEGS'"
           src="{{images.get(stylisation.id)}}"
           alt="bottom"
           default="../../assets/img/empty.png"
           class="stylisation__bottom">
    </div>
  </div>
</section>
