<section class="stylisations"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScroll()"
         [scrollWindow]="true">
  <h2 class="section-title">Your stylisations</h2>
  <div *ngIf="!stylisations" class="stylisations__wrapper">
    <div class="stysations__item stylisation {{stylisation.clothesForDisplayStylization.length === 1 ? 'stylisation__dress' : ''}}" *ngFor="let stylisation of stylisationsList">
      <div class="stylisations__part" *ngFor="let item of stylisation.clothesForDisplayStylization">
        <img [attr.src]="(env.serverLocalHost + '/img/' + item.imageName) | imgSecure | async" default="../../assets/img/empty.png"
             default="../../assets/img/empty.png"
             alt="clothes image"
             class="stylisation__img">
      </div>
    </div>
  </div>
  <div *ngIf="stylisations" class="stylisations__wrapper">
    <div class="stysations__item stylisation" *ngFor="let stylisation of stylisations">
      <div class="stylisations__part" *ngFor="let item of stylisation.clothesForDisplayStylization">
        <img [attr.src]="(env.serverLocalHost + '/img/' + item.imageName) | imgSecure | async" default="../../assets/img/empty.png"
             default="../../assets/img/empty.png"
             alt="clothes image"
             class="stylisation__img">
      </div>
    </div>
  </div>
</section>
