<section class="item">
  <h2 class="section-title">Clothes Detail</h2>
  <div class="item__wrapper">
    <a class="item__link">
      <img class="clothes__img item__img" src="{{image}}"  default="../../assets/img/empty.png" alt="clothes">
    </a>
    <form class="item__details" [formGroup]="editForm">
      <p class="form-success__message" *ngIf="isSubmitted && isSuccess">Changes successfully saved!</p>
      <div class="item-details__wrapper">
        <label for="itemDetailsTag">Tag: <input id="itemDetailsTag" formControlName="tag" class="item__details-content item__details-content--disabled" value="{{item?.tag}}" disabled></label>
        <button type="button" class="item-details__change-btn btn btn-pen" (click)="activateEditMode($event)"><span class="visually-hidden">Change</span><fa-icon [icon]="faPen"></fa-icon></button>
      </div>
      <div class="item-details__wrapper">
        <label class="item-details__label" for="itemDetailCategory">Category: <input id="itemDetailCategory" class="item__details-content" value="{{item?.clothType | titlecase}}" disabled></label>
        <app-select-input (selectedValue)="getSelectValue($event)"
                          class="item-details__select"
                          labelClass="{{clothType.errors && isSubmitted ? 'error-border new-form__error-border' : ''}}"
                          inputId="new-clothes-category"
                          inputName="clothType"
                          [options]="clothTypeOptions" ></app-select-input>
        <button type="button" class="item-details__change-btn btn btn-pen" (click)="activateEditMode($event)"><span class="visually-hidden">Change</span><fa-icon [icon]="faPen"></fa-icon></button>
      </div>
      <div class="item-details__wrapper">
      <label class="item-details__label" for="itemDetailColor">Color: <input id="itemDetailColor" class="item__details-content" value="{{item?.color | titlecase}}" disabled></label>
        <app-select-input (selectedValue)="getSelectValue($event)"
                          class="item-details__select"
                          labelClass="{{color.errors && isSubmitted ? 'error-border new-form__error-border' : ''}}"
                          inputId="new-clothes-color"
                          inputName="color"
                          [options]="colorOptions" ></app-select-input>
        <button type="button" class="item-details__change-btn btn btn-pen" (click)="activateEditMode($event)"><span class="visually-hidden">Change</span><fa-icon [icon]="faPen"></fa-icon></button>
      </div>
      <div class="item-details__wrapper">
        <label class="item-details__label" for="itemDetailStyle">Style: <input id="itemDetailStyle" class="item__details-content" value="{{item?.style | titlecase}}" disabled></label>
        <app-select-input (selectedValue)="getSelectValue($event)"
                          class="item-details__select"
                          labelClass="{{style.errors && isSubmitted ? 'error-border new-form__error-border' : ''}}"
                          inputId="new-clothes-style"
                          inputName="style"
                          [options]="styleOptions" ></app-select-input>
        <button type="button" class="item-details__change-btn btn btn-pen" (click)="activateEditMode($event)"><span class="visually-hidden">Change</span><fa-icon [icon]="faPen"></fa-icon></button>
      </div>
      <div class="item-details__wrapper">
      <label for="itemDetailBrand">Brand: <input id="itemDetailBrand" formControlName="brand" class="item__details-content item__details-content--disabled" value="{{item?.brand | titlecase}}" disabled></label>
        <button type="button" class="item-details__change-btn btn btn-pen" (click)="activateEditMode($event)"><span class="visually-hidden">Change</span><fa-icon [icon]="faPen"></fa-icon></button>
      </div>
      <div class="item-details__wrapper">
      <label class="item-details__label" for="itemDetailSize">Size: <input id="itemDetailSize" class="item__details-content" value="{{item?.size | titlecase}}" disabled></label>
        <app-select-input (selectedValue)="getSelectValue($event)"
                          class="item-details__select"
                          inputId="new-clothes-size"
                          inputName="size"
                          [options]="sizeOptions"></app-select-input>
        <button type="button" class="item-details__change-btn btn btn-pen" (click)="activateEditMode($event)"><span class="visually-hidden">Change</span><fa-icon [icon]="faPen"></fa-icon></button>
      </div>
      <div class="item-details__wrapper">
      <label for="itemDetailCode">Product Code: <input id="itemDetailCode" formControlName="code" class="item__details-content item__details-content--disabled" value="{{item?.code | titlecase}}" disabled></label>
        <button type="button" class="item-details__change-btn btn btn-pen" (click)="activateEditMode($event)"><span class="visually-hidden">Change</span><fa-icon [icon]="faPen"></fa-icon></button>
      </div>
      <div class="item-details__wrapper">
      <label for="itemDetailLink">Link: <input id="itemDetailLink" formControlName="shopLink" class="item__details-content item__details-content--disabled" value="{{item?.shopLink ? item.shopLink : 'no link'}}" disabled></label>
        <button type="button" class="item-details__change-btn btn btn-pen" (click)="activateEditMode($event)"><span class="visually-hidden">Change</span><fa-icon [icon]="faPen"></fa-icon></button>
      </div>
      <div class="new-clothes__checkbox-wrapper">
        <p class="checkbox__question"> Does this item has a pattern?</p>
        <div class="new-clothes__radio-input">
          <input #hasPattern id="new-clothes-patternTrue" class="visually-hidden checkbox-input" type="checkbox"
                 formControlName="hasPattern" value="true" name="hasPattern">
          <label for="new-clothes-patternTrue" class="checkbox-input__label">Yes</label>
        </div>
      </div>
    </form>
    <div class="popup-message" *ngIf="isDeleted">
      <p class="form-success__message">Successfully deleted!</p>
    </div>
    <p class="form-errors__message" *ngIf="isSubmitted && isServerError">Connection error! Please try again later</p>
  </div>
  <div class="item-details__btn-wrapper">
    <button (click)="deleteClothes(itemId)" type="button" class="btn btn-pen item-details__delete-btn">DELETE</button>
    <button (click)="saveChanges($event)" type="submit" class="btn btn-pen item-details__save-btn">SAVE</button>
  </div>
</section>
  <div *ngIf="stylisations.length > 0">
    <app-stylisations [stylisations]="stylisations"></app-stylisations>
  </div>
