:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.stylisations__part {
  height: 50%;
}

.stylisation__img {
  width: auto !important;
  height: 50% !important;
}
