<div class="stylisations__wrapper">
<div *ngFor="let item of sortedStylisation" class="stylisations__cloth">
  <div class="class">
  <img [attr.src]="(env.serverLocalHost + '/img/' + item?.imageName) | imgSecure | async" default="../../assets/img/empty.png"
       default="../../assets/img/empty.png"
       alt="clothes image"
       class="stylisation__img">
  </div>
</div>
<div *ngIf="dressStylisation" class="stylisations__cloth">
  <div class="class">
<img [attr.src]="(env.serverLocalHost + '/img/' + dressStylisation.imageName) | imgSecure | async" default="../../assets/img/empty.png"
     default="../../assets/img/empty.png"
     alt="clothes image"
     class="stylisation__img">
</div>
</div>
</div>
