.stylisations__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.class {
  height: 100%;
}

.stylisations__cloth {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //width: 100%;
  height: 50%;
}

.stylisation__img {
  width: auto;
  height: 100%;
}
